@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

body{
    font-family:'Nunito Sans', 'Roboto', 'Oxygen', sans-serif !important;
}

 h1 {
    font-size: 44px;
    font-weight: 400;
    font-family: 'Lora', sans-serif ;
}

h2 {
    font-family: 'Lora', sans-serif ;
}

.logo {
    height: 61px;
    margin: 0.7rem;
}
